__pycache__
*.c
*.so
build/
*.DS_Store
config.yaml
log*
*.npy
*.csv
*.png
*_hc
*_rnd
.vscode/
*result*
*odt*
preproc/log1
# data-utility/
*file_syn_sf_*
data-utility/syn_sf_*.pkl
record/*.pkl
record/*.csv
record/*.txt